.canvas {
    background-color: rgb(0, 0, 0);
    border-color: rgb(31, 31, 31);
    border-style: solid;
    border-width: thick;
}

.flexcenter {
    display: flex;
    justify-content: center;
}

.blockcenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 100%
}

a, button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
}

button {
    cursor: pointer
}

.inv {
    background-color: rgb(150, 150, 150);
    display: block;
    width: 24vw;
    aspect-ratio: 2/1;
    overflow-y: scroll;
}

.slot {
    background-color: rgb(200, 200, 200);
    width: 100%;
    overflow: auto
}
.slot button, #sellall {
    margin-left: 1vw;
    font-size: 0.8vw;
}

#sellall {
    margin-bottom: 0.5vw;
}

.name, .amount {
    font-weight: bolder;
    float: left;
    font-size: 1.2vw;
    color: rgb(219, 219, 219);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    margin-left: 0.5vw
}

.title {
    font-size: 3vw;
    font-weight: bolder
}

.subtitle {
    font-size: 1.5vw;
    font-weight: bold
}

.bolder {
    font-weight: bolder
}

.inline {
    display: inline-block;
}
.inline #me {
    float: left;
    margin-left: 4vw;
}

#pickdisplay a, img, button {
    display: inline-block;
    justify-content: center;
    text-align: center
}
#pickdisplay button {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
#pickdisplay #pickicon {
    width: 4vw;
    aspect-ratio: 1/1
}

.bold {
    font-weight: bold
}

.statholder {
    width: 4vw;
    aspect-ratio: 1/0.5;
    background-color: darkgray; /* temp lol */
    border-radius: 0.5vw;
    display: inline-block
}
.statholder a {
    font-size: 0.75vw;
    text-align: center;
    width: 100%
}
.statholder #val {
    font-size: 1vw
}

.hidden {
    display: none
}

#pickicon {
    display: flex;
    align-items: center;
    justify-items: center;
    background-position: center;
    background-size: cover;
}

#equipped {
    background-color: darkgray;
    color: rgb(0, 255, 0);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
}